body {
  background-color: #000000;
  text-align: center;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#tela {
  order: 1;
}

.menuPrincipal {
  order: 2;
}

.gameOver {
  display: none;
  position: absolute;
  order: 3
}

.youWIN {
  display: none;
  position: absolute;
  order: 4  
}

.btn {
  margin-top: .8rem;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:140px;
  text-decoration:none;
  text-align:center;
  text-shadow:0px 1px 0px #ffffff;
}

.btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}

.btn:active {
  position:relative;
  top:1px;
}

input[type="file"] {
    display: none;
}

.btn:disabled {
  background-color: #DDDDDD;
  cursor: not-allowed;
}

.btnGreen {
  -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
  -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
  box-shadow:inset 0px 1px 0px 0px #a4e271;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
  background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
  background-color:#89c403;
  border:1px solid #74b807;
  display:inline-block;
  color:#ffffff;
  text-shadow:0px 1px 0px #528009; 
}

.btnGreen:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
  background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
  background-color:#77a809;
} 

.btnGreen:active {
	position:relative;
	top:1px;
}

.btnRed {
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
  background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
  background-color:#f24537;
  border:1px solid #d02718;
  display:inline-block;
  color:#ffffff;
  text-shadow:0px 1px 0px #528009; 
}

.btnRed:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
  background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
  background-color:#c62d1f;
} 

.btnRed:active {
	position:relative;
	top:1px;
}

.information {
  display: flex;
  width: 975px;
  justify-content: space-between;
}

#score {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4rem;
  font-weight: bold;
  color: yellow
}

#level {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4rem;
  font-weight: bold;
  color: yellow
}
